h1 {
color  :lime;
}


.header{
background-color:aquamarine;
display: flex;
justify-content: space-between;
}

.grid{
display: flex;  
justify-content: space-evenly; 
flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}